# Core
tensorflow==2.9.1
keras==2.9.0
numpy==1.22.4
pandas==1.4.4
opencv-python==4.6.0.66
matplotlib==3.5.3
scikit-image==0.19.3
nltk==3.7
wordcloud==1.8.2.2
tqdm==4.64.0
pillow==9.2.0

# Optional but useful
h5py==3.7.0
protobuf==3.19.6
